@{
    ViewData["Title"] = "Política";
}
<h1>@ViewData["Title"]</h1>

<p>
    Política de Atendimento e Qualidade da Clínica:
    <br />
    <br />
    1. Compromisso com a excelência no atendimento: Nossa clínica se compromete a fornecer um atendimento de alta qualidade, pautado na empatia, respeito e cordialidade com todos os pacientes.
    <br />
    <br />
    2. Acesso e igualdade de tratamento: Garantimos o acesso igualitário aos serviços da clínica, sem qualquer forma de discriminação com base em raça, gênero, religião, orientação sexual ou qualquer outra característica pessoal.
    <br />
    <br />
    3. Profissionais qualificados e atualizados: Nossos profissionais são altamente capacitados e estão constantemente atualizados com as mais recentes práticas e tecnologias da área médica, garantindo um atendimento seguro e eficaz.
    <br />
    <br />
    4. Ambiente limpo e seguro: Mantemos um ambiente limpo, organizado e seguro para garantir a segurança e o bem-estar dos pacientes, seguindo rigorosos protocolos de higiene e controle de infecções.
    <br />
    <br />
    5. Privacidade e confidencialidade: Respeitamos a privacidade dos pacientes e garantimos a confidencialidade de todas as informações pessoais compartilhadas durante o atendimento, em conformidade com as leis e regulamentos aplicáveis.
    <br />
    <br />
    6. Comunicação clara e transparente: Buscamos estabelecer uma comunicação clara e transparente com os pacientes, fornecendo informações precisas sobre diagnósticos, tratamentos, procedimentos médicos e custos envolvidos.
    <br />
    <br />
    7. Melhoria contínua: Estamos comprometidos em buscar constantemente a melhoria contínua dos nossos serviços, por meio da avaliação sistemática do atendimento prestado, ouvindo feedbacks dos pacientes e implementando ações corretivas quando necessário.
    <br />
    <br />
    8. Responsabilidade social e ambiental: Buscamos contribuir para a sociedade e o meio ambiente de forma positiva, adotando práticas sustentáveis, responsáveis e éticas em todas as nossas atividades.
    <br />
    <br />
    Essa política tem como objetivo garantir a satisfação dos pacientes, promover um ambiente acolhedor e seguro, além de assegurar a qualidade dos serviços prestados pela clínica.
</p>
