body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.btn-primary {
    margin: 5px;
    background: none !important;
    color: #3D70FA !important;
    border: 2px #3D70FA solid !important;
    border-radius: 4px !important;
    padding: 0.150rem 0.250rem !important;
}

.btn-primary:hover {
    background-color: #92ACF5 !important;
    color: white !important;
}

.btn-danger {
    margin: 5px;
    background: none !important;
    color: #dc3545 !important;
    border: 2px #dc3545 solid !important;
    border-radius: 4px !important;
    padding: 0.150rem 0.250rem !important;
}

.btn-danger:hover {
    background-color: #dc3545 !important;
    color: white !important;
}

.btn-second {
    margin: 5px;
    background: none !important;
    color: black !important;
    border: 2px White solid !important;
    border-radius: 4px !important;
    padding: 0.150rem 0.250rem !important;
}
.btn-second:hover {
    background-color: #92ACF5 !important;
    color: white !important;
}